typing
spacy[lookups]==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
PyPDF2
Pathlib
logging
pdfminer.six == 20250506
pdfplumber == 0.11.7
pandas
PyMuPDF == 1.26.3
transformers
contractions
torch